@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
    --font-display: "Noto Sans", sans-serif;
    --color-neutro-9: hsl(227, 75%, 14%);
    --color-neutro-8: hsl(226, 25%, 17%);
    --color-neutro-7: hsl(225, 23%, 24%);
    --color-neutro-6: hsl(226, 11%, 37%);
    --color-neutro-5: hsl(0, 0%, 78%);
    --color-neutro-4: hsl(217, 61%, 90%);
    --color-neutro-3: hsl(0, 0%, 93%);
    --color-neutro-2: hsl(200, 60%, 99%);
    --color-neutro-1: hsl(240, 24%, 78%);
    --color-rojo-4: hsl(3, 86%, 64%);
    --color-rojo-5: hsl(3, 71%, 56%);
    --color-rojo-7: hsl(3, 77%, 44%);
    
    --text-principal: 16px;
    --font-weight-cuatro: 400;
    --font-weight-cinco: 500;
    --font-weight-siete: 700;
}
body {
 background-color: var(--color-neutro-4);
}
[data-theme=dark] body {
 background-color: var(--color-neutro-9);
}